@model IEnumerable<ParkView_Capstone.Models.Rooms.Room>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<div class="container">
    @foreach (var item in Model)
    {
        <div class="card row m-3">
            <div class="card-header">
                @item.RoomType.RoomName
            </div>
            <div class="card-body">
                <h5 class="card-title">@item.Hotel.HotelName ( @item.Hotel.HotelLocation )</h5>
                <p class="card-text">@item.RoomType.RoomDescription</p>
                <p class="card-text">Price : @item.RoomPrice</p>
                <p class="card-text">Available Rooms : @item.RoomQuantity</p>
                <p class="card-text">Minimum room needed : @item.RoomReq</p>
                <p class="card-text">MaxPeople : @item.RoomType.MaxPeople , MaxAdult : @item.RoomType.MaxAdult , MaxChildren : @item.RoomType.MaxChildren</p>
                <a asp-action="SingleRoom" asp-route-roomid=@item.RoomId class="btn btn-primary">View Details</a>
            </div>
        </div>
    }
</div>


