@model IEnumerable<ParkView_Capstone.Models.Rooms.Room>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomReq)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomType.MaxAdult)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomType.MaxChildren)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomReq)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType.MaxAdult)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType.MaxChildren)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType.RoomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel.HotelName)
            </td>
            <td>
                <a asp-action="SingleRoom" asp-route-roomid=@item.RoomId>View Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
