@model BookingCartViewModel

<div class="container">
    <a type="button" class="btn" style="color:white;background-color:#25a18e" asp-controller="Room" asp-action="Index"
       asp-route-location="@Model.bookingCart.First().BookingRoomDetails.Room.Hotel.HotelName"
       asp-route-checkin=@Model.bookingCart.First().BookingRoomDetails.CheckInDate.ToString("yyyy-MM-dd")
       asp-route-checkout=@Model.bookingCart.First().BookingRoomDetails.CheckOutDate.ToString("yyyy-MM-dd")
       asp-route-Adults=@Model.bookingCart.First().BookingRoomDetails.AdultNo
       asp-route-Child=@Model.bookingCart.First().BookingRoomDetails.ChildrenNo>Go Back To Booking</a>
    <a type="button" class="btn" style="color:white;background-color:#25a18e;width:80%;" asp-controller="Service">Book World Class Services</a>
</div>
<br />

<div class="container">
    <h3>Booking Cart : </h3>
    <hr/>


    @if (Model.bookingCart != null)
    {
        @foreach (var item in Model.bookingCart)
        {
            <div class="card mb-2">
                <div class="card-header" style="background-color:#282834;color:white;font-weight:bold;font-size:x-large;">
                    @item.BookingRoomDetails.Room.RoomType.RoomName ( @item.BookingRoomDetails.Room.Hotel.HotelName)
                </div>
                <div class="card-body row">
                    <div class="col-md-4">
                        <img src="@item.BookingRoomDetails.Room.RoomType.RoomTypeImage" class="img-fluid" alt="Room Photo" />
                    </div>
                    <div class="col-md-8">
                        <button type="button" class="btn m-1" style="font-weight:bold;">
                            Check In & Check Out Date &emsp; :: &emsp;
                            From &emsp; <span class="badge badge-light" style="color:white;background-color:#282834;">@item.BookingRoomDetails.CheckInDate</span>
                            &emsp; - &emsp;To &emsp; <span class="badge badge-light" style="color:white;background-color:#282834;">@item.BookingRoomDetails.CheckOutDate</span>
                        </button><br>
                        <button type="button" class="btn m-1" style="background-color:#282834;color:white;font-weight:bold;">
                            Quantity of Rooms &emsp; : &emsp;
                            <span class="badge badge-light" style="color:#282834;background-color:white;">@item.BookingRoomDetails.RoomQuantity</span>
                        </button>&emsp;
                        <button type="button" class="btn m-1" style="background-color:#282834;color:white;font-weight:bold;">
                            Number of Adults &emsp; : &emsp;
                            <span class="badge badge-light" style="color:#282834;background-color:white;">@item.BookingRoomDetails.AdultNo</span>
                        </button>&emsp;
                        <button type="button" class="btn m-1" style="background-color:#282834;color:white;font-weight:bold;">
                            Number of Children &emsp; : &emsp;
                            <span class="badge badge-light" style="color:#282834;background-color:white;">@item.BookingRoomDetails.ChildrenNo</span>
                        </button><br>
                        <button type="button" class="btn m-1" style="font-weight:bold;font-size:x-large;border:1px solid #282834;">
                            Total Amount Incurred for the Room : <br />
                            <span class="badge badge-light" style="color:white;background-color:#282834;font-size:medium;">@item.BookingRoomDetails.RoomPrice</span>
                            <span style="font-size:small">(Price of Single Room)</span> * <span class="badge badge-light" style="color:white;background-color:#282834;font-size:medium;">@Convert.ToInt32((new DateTime(@item.BookingRoomDetails.CheckOutDate.Year, @item.BookingRoomDetails.CheckOutDate.Month, @item.BookingRoomDetails.CheckOutDate.Day) - new DateTime(@item.BookingRoomDetails.CheckInDate.Year, @item.BookingRoomDetails.CheckInDate.Month, @item.BookingRoomDetails.CheckInDate.Day)).Days)</span>
                            <span style="font-size:small">(Number of nights)</span> * <span class="badge badge-light" style="color:white;background-color:#282834;font-size:medium;">@item.BookingRoomDetails.RoomQuantity</span>
                            <span style="font-size:small">(Number of Rooms)</span> = <span class="badge badge-light" style="color:white;background-color:#282834;font-size:medium;">@item.RoomPriceFee</span>
                        </button><br>
                        <div class="btn-group m-1" role="group" aria-label="Basic example">
                            <a type="button" class="btn" style="background-color:#282834;color:white;" asp-action="AddRoomQuantity" asp-route-bookingdetailsid=@item.BookingCartItemId asp-route-quantity=@(item.BookingRoomDetails.RoomQuantity-1)>-</a>
                            <button type="button" class="btn" style="border-color:#282834;color:black;" disabled>Room Quantity : @item.BookingRoomDetails.RoomQuantity</button>
                            <a type="button" class="btn" style="background-color:#282834;color:white;" asp-action="AddRoomQuantity" asp-route-bookingdetailsid=@item.BookingCartItemId asp-route-quantity=@(item.BookingRoomDetails.RoomQuantity+1)>+</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    <hr />

    <div class="container-fluid">
        <h3>Service Cart : </h3>
        <hr />
        @if (Model.servicecart != null)
        {
            @foreach (var item in Model.servicecart)
            {
                <div class="card">
                    <div class="card-header" style="background-color:#282834;color:white;font-weight:bold;font-size:large;">
                        @item.Service.ServiceName
                    </div>
                    <div class="card-body">
                        <div class="card-text" style="font-weight:bold;">Description : @item.Service.ServiceDescription</div><br>
                        <button type="button" class="btn m-1" style="background-color:#282834;color:white;font-weight:bold;">
                            Price of Services &emsp; : &emsp;
                            <span class="badge badge-light" style="color:#282834;background-color:white;">@item.ServicePriceAmount</span>
                        </button>&emsp;
                        <button type="button" class="btn m-1" style="background-color:#282834;color:white;font-weight:bold;">
                            Quantity of Service &emsp; : &emsp;
                            <span class="badge badge-light" style="color:#282834;background-color:white;">@item.ServiceQuantity</span>
                        </button>&emsp;
                    </div>
                </div>
            }
        }
    </div>

    

    <hr />

    @{
        var globaltotal = Model.bookingCart.Select(b => b.RoomPriceFee).Sum() + Model.servicecart.Select(s => s.ServicePriceAmount).Sum();
    }

   <div class="row">
       <div class="col">
            <h3>
                Total : @globaltotal
            </h3>
       </div>
       <div class="col">
            <a type="button" class="btn" style="background-color:#25a18e;color:white;font-weight:bold;font-size:large;float:right;" asp-action="CompleteBooking" asp-route-total=@Model.bookingCart.Select(b=>b.RoomPriceFee).Sum()>
                Receipt And Payment
            </a>
       </div>
   </div>

</div>
